// process.executor = 'slurm' 

params {
    samples_dir = "/groups/umcg-fg/tmp01/projects/downstreamer/2023-09-PublicRNASeqGenotypeCalls/pipelines/testFiles/sample"
    sample_file_1 = "/groups/umcg-fg/tmp01/projects/downstreamer/2023-09-PublicRNASeqGenotypeCalls/pipelines/testFiles/sample/SRR8859683/SRR8859683.fasta"
    sample_file_2 = ""
    ref_dir = "/groups/umcg-fg/tmp01/projects/downstreamer/2023-09-PublicRNASeqGenotypeCalls/pipelines/testFiles/ref"
    out_dir = "/groups/umcg-fg/tmp01/projects/downstreamer/2023-09-PublicRNASeqGenotypeCalls/pipelines/testFiles/output"
    n_thread = 8

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

