// HPC configuration for the pipeline
process {
  executor='slurm'
  queueSize = 10
  maxRetries = 1
}

// Adjust the params to your usecase.
params {
    samples_dir = "/groups/umcg-fg/tmp01/projects/downstreamer/2023-09-PublicRNASeqGenotypeCalls/testFiles/sample"
    ref_dir = "/groups/umcg-fg/tmp01/projects/downstreamer/2023-09-PublicRNASeqGenotypeCalls/testFiles/ref"
    out_dir = "/groups/umcg-fg/tmp01/projects/downstreamer/2023-09-PublicRNASeqGenotypeCalls/testFiles/output"
    n_thread = 8

  // Defaults only, expecting to be overwritten
  max_memory = 128.GB
  max_cpus = 16
  max_time = 240.h
}

