// General nextflow config.
nextflow.enable.dsl=2
nextflow.enable.moduleBinaries = true

process.executor = 'slurm'
process.container = ''

// Adjust the params to your usecase.
params {
    referenceGenome = ""
    cram_dir = ""
    knownSites = ""
    knownSitesIndex = ""
    outDir = ""
    n_thread = 8
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = ""
    cacheDir = ""
}

