process.executor = 'slurm'
process.container = ''

params {
    refFlat = ''
    referenceGenome = ''
    gtfAnnotationFile = ''
    sampleFile = ''
    outDir = ''
    refDir = ''
    bindFolder = ''
    ribosomalIntervalList = ''
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind $PWD'
    cacheDir = ''
}