process.executor = 'slurm'
process.container = ''

params = {
    bindFolder = ''
    sampleFile = ''
    outDir = ''
    maf = 0.01 
    geno = 0.05 
    mind = 0.05 
    hwe = 1e-6
    kingTableFilter = 0.04419417382
    outlierThreshold = 0.4
    refPath = ''
    refPop = ''
    refAFs = ''
    sexFile = ''
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = '--bind $PWD'
    cacheDir = ''
}